.log
/Server1.14.3/cache
/Server1.14.3/crash-reports
/Server1.14.3/Esparcraft
/Server1.14.3/logs
/Server1.14.3/pixeloutlaw
/Server1.14.3/PMCNetherContest
/Server1.14.3/Repository
/Server1.14.3/Repository2
/Server1.14.3/treepack
/Server1.14.3/treepack2
/Server1.14.3/BosqueSorgrim
/Server1.14.3/Cañonolvidado
/Server1.14.3/Cienegaespesa
/Server1.14.3/PlaniciesVenloth
/Server1.14.3/Meslajho
/Server1.14.3/PMCNetherContest
