.log
/Server1.12.1/Esparcraft
/Server1.12.1/logs
/Server1.12.1/orebfuscator_cache
/Server1.12.1/pixeloutlaw
/Server1.12.1/plugins/zz
/Server1.12.1/plugins/DungeonsXL/maps
/Server1.12.1/plugins/DungeonsXL/backups
/Server1.12.1/plugins/NoCheatPlus/nocheatplus.log
/Server1.12.1/Repository
/Server1.12.1/Repository2
/Server1.12.1/PMCNetherContest
/Axios
/Lobby
/BungeeCord
