.log
.db
/Server1.14.4/cache
/Server1.14.4/crash-reports
/Server1.14.4/debug
/Server1.14.4/logs
/Server1.14.4/pixeloutlaw
/Server1.14.4/Drachenfels
/Server1.14.4/PMCNetherContest
/Server1.14.4/Repository
/Server1.14.4/Repository2
/Server1.14.4/treepack
/Server1.14.4/treepack2
/Server1.14.4/Esparcraft
/Server1.14.4/BosqueSorgrim
/Server1.14.4/Senderoolvidado
/Server1.14.4/Cienegaespesa
/Server1.14.4/PlaniciesVenloth
/Server1.14.4/Meslajho
/Server1.14.4/PMCNetherContest
/Server1.14.4/server.properties
/Server1.14.4/plugins/AUpdater
/Server1.14.4/plugins/BlockRegen/ignored.db
/Server1.14.4/plugins/CoreProtect/database.db
/Server1.14.4/plugins/CrazyAuctions/Data.yml
/Server1.14.4/plugins/CustomEnderChest/PlayerData
/Server1.14.4/plugins/GemsEconomy/database.sqlite
/Server1.14.4/plugins/MCCore/data.yml
/Server1.14.4/plugins/MyPet/pets.db
